<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.com.easyeducation.easyeducation_3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_hat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_hat_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.CourseApplicationPaymentActivity"
            android:label="Course Applcication Payment Activity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.CourseApplicationStatusActivity" />
        </activity>
        <activity android:name=".Activities.CourseApplicationStatusActivity"
            android:label="Course Applcication Status Activity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activities.ReferralActivity"
            android:label="Referral Activity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activities.SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="au.com.easyeducation.easyeducation_3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.CourseApplicationChecklistActivity"
            android:label="@string/title_activity_course_application_checklist"
            android:parentActivityName=".Activities.CollegeCourseInformationActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.CollegeCourseInformationActivity" />
        </activity>
        <activity
            android:name=".Activities.CourseApplicationActivity"
            android:label="@string/title_activity_course_application"
            android:parentActivityName=".Activities.CollegeCourseInformationActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.CollegeCourseInformationActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterProfileDetailsActivity"
            android:label="@string/title_activity_register_profile_details"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterProfileDetailsNewActivity"
            android:label="Profile Details"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.CollegeCourseInformationActivity"
            android:label="@string/title_activity_college_course_information"
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.LoginActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.LoginActivity" />
        </activity>
        <activity android:name=".Activities.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.CourseApplicationNewActivity"
            android:label="CourseApplicationNewActivity"
            android:parentActivityName=".Activities.CourseApplicationChecklistActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.easyeducation.easyeducation_3.Activities.CollegeCourseInformationActivity" />
        </activity>
    </application>

</manifest>